<table class="table table-bordered table-hover cms-table">
    <thead>
    <tr>
        <th id="cms-checkbox-all" width="10"><input type="checkbox"/></th>
        <th width="14">排序</th><!--6.7-->
        <th>id</th>
        <th>标题</th>
        <th>栏目</th>
        <th>来源</th>
        <th>封面图</th>
        <th>时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="news" id="new">
        <tr>
            <td><input type="checkbox" name="pushcheck" value="{$new.news_id}"></td>
            <td><input size=4 type='text'  name='listorder[{$new.news_id}]' value="{$new.listorder}"/></td><!--6.7-->
            <td>{$new.news_id}</td>
            <td>{$new.title}</td>
            <td>{$new.catid|getCatName}</td>
            <td>{$new.copyfrom|getCopyFromById}</td>
            <td>
                {$new.thumb|isThumb}
            </td>
            <td>{$new.create_time|date="Y-m-d H:i",###}</td>
            <td><span  attr-status="<if condition="$new['status'] eq 1">0<else/>1</if>"  attr-id="{$new.news_id}" class="news_cursor cms-on-off" id="cms-on-off" >{$new.status|status}</span></td>
            <td><span class="news_cursor glyphicon glyphicon-edit" aria-hidden="true" id="cms-edit" attr-id="{$new.news_id}" ></span>
                <a href="javascript:void(0)" id="cms-delete"  attr-id="{$new.news_id}"  attr-message="删除">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </a>
                <a target="_blank" href="/index.php?c=detail&a=view&id={$new.news_id}" class="news_cursor glyphicon glyphicon-eye-open" aria-hidden="true"  ></a>

            </td>
        </tr>
    </volist>

    </tbody>
</table>
<nav>

    <ul >
        {$pageres}
    </ul>

</nav>
<div>
    <button  id="button-listorder" type="button" class="btn btn-primary dropdown-toggle" ><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>更新排序</button>
</div>

